<p id="notice"><%= notice %></p>

<h1>Listing Suggested Food Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggested_food_items.each do |suggested_food_item| %>
      <tr>
        <td><%= suggested_food_item.title %></td>
        <td><%= link_to 'Show', suggested_food_item %></td>
        <td><%= link_to 'Edit', edit_suggested_food_item_path(suggested_food_item) %></td>
        <td><%= link_to 'Destroy', suggested_food_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suggested food item', new_suggested_food_item_path %>
