<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suggested_food_item.title %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @basic_food_item.image.url(:thumb) %>
</p>
<p>
  <strong>Image URL:</strong>
  <%=  @basic_food_item.image_url %>
</p>
<p>
  <strong>Measurement Type:</strong>
  <%= @basic_food_item.measurement_type %>
</p>
<p>
  <strong>Full Amount:</strong>
  <%= @basic_food_item.full_amount %>
</p>
<p>
  <strong>Usually Expires:</strong>
  <%= @basic_food_item.usually_expires %>
</p>

<%= link_to 'Edit', edit_suggested_food_item_path(@suggested_food_item) %> |
<%= link_to 'Back', suggested_food_items_path %>
