<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @survey.question %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @survey.image(:large) %>
</p>
<p>
  <strong>SType:</strong>
  <%= @survey.stype %>
</p>
<p>
  <strong>Options:</strong>
  <%= @survey.option1 %>,
  <%= @survey.option2 %>,
  <%= @survey.option3 %>,
  <%= @survey.option4 %>,
  <%= @survey.option5 %>
</p>
<p>
  <strong>Has Pre-Question:</strong>
  <%= @survey.pre_question %>
</p>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
